In [2]:
#Importing pandas and display techniques

import pandas as pd
from IPython.display import display

In [3]:
movies_metadata = pd.read_csv(".\movies_metadata.csv", low_memory=False)
keywords = pd.read_csv(".\keywords.csv", low_memory=False)
cast = pd.read_csv (".\credits.csv", low_memory=False)

In [4]:
#Removing columns

movies_metadata = movies_metadata.drop(['adult', 'popularity','belongs_to_collection', 'imdb_id', 'runtime','homepage', 'production_companies', 'original_language','spoken_languages', 'original_title', 'overview', 'poster_path', 'production_countries', 'tagline', 'video' ], axis=1)
cast = cast.drop(['crew'], axis=1)
#Filtering out incomplete data for movies_metadata

movies_metadata = movies_metadata[movies_metadata['movie budget']!='0']
movies_metadata = movies_metadata[movies_metadata['vote_average']!=0]
movies_metadata = movies_metadata[movies_metadata['revenue']!=0]
movies_metadata = movies_metadata[movies_metadata['status']=='Released']

#Filtering out incomplete data for keywords

keywords = keywords[keywords['keywords']!='[]']

#Filtering out incomplete data for cast
cast = cast[cast['cast']!='[]']

#Re-establishing data types as int

movies_metadata['revenue'] = movies_metadata['revenue'].astype(int)
movies_metadata['id'] = movies_metadata['id'].astype(int)
keywords['id'] = keywords['id'].astype(int)

In [5]:
#Merging the 2 data frames into 1
movies_keywords = keywords.merge(movies_metadata, left_on='id', right_on='id')

movies_keywords_cast = cast.merge(movies_keywords, left_on='id', right_on='id')
movies_keywords_cast = movies_keywords_cast.set_index('title')

movies_keywords_cast = movies_keywords_cast[['id', 'revenue', 'movie budget', 'vote_average', 'vote_count', 'genres', 'cast', 'keywords']]

movies_keywords_cast = movies_keywords_cast.drop_duplicates('id')

In [6]:
movies_keywords_cast

,id,revenue,movie budget,vote_average,vote_count,genres,cast,keywords
title,,,,,,,,
Toy Story,862,373554033,30000000,7.7,5415.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
Jumanji,8844,262797249,65000000,6.9,2413.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
Waiting to Exhale,31357,81452156,16000000,6.1,34.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
Heat,949,187436818,60000000,7.7,1886.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
Sudden Death,9091,64350171,35000000,5.5,174.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
GoldenEye,710,352194034,58000000,6.6,1194.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
The American President,9087,107879496,62000000,6.5,199.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
Nixon,10858,13681765,44000000,7.1,72.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...","[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
Cutthroat Island,1408,10017322,98000000,5.7,137.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
Casino,524,116112375,52000000,7.8,1343.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
Sense and Sensibility,4584,135000000,16500000,7.2,364.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
Four Rooms,5,4300000,4000000,6.5,539.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
Ace Ventura: When Nature Calls,9273,212385533,30000000,6.1,1128.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
Money Train,11517,35431113,60000000,5.4,224.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'id': 380, 'name': 'brother brother relation..."
Get Shorty,8012,115101622,30250000,6.4,305.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...","[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
Assassins,9691,30303072,50000000,6.0,394.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
Leaving Las Vegas,451,49800000,3600000,7.1,365.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
Now and Then,9263,27400000,12000000,6.6,91.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
The City of Lost Children,902,1738611,18000000,7.6,308.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...","[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
Twelve Monkeys,63,168840000,29500000,7.4,2470.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'id': 222, 'name': 'schizophrenia'}, {'id': ..."
Babe,9598,254134910,30000000,6.0,756.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '..."
Dead Man Walking,687,39363635,11000000,7.3,350.0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 7, 'character': 'Sister Helen Pre...","[{'id': 378, 'name': 'prison'}, {'id': 570, 'n..."
Mortal Kombat,9312,122195920,18000000,5.4,452.0,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...","[{'cast_id': 1, 'character': 'Lord Rayden', 'c...","[{'id': 779, 'name': 'martial arts'}, {'id': 1..."
To Die For,577,21284514,20000000,6.7,177.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...","[{'cast_id': 4, 'character': 'Suzanne Stone Ma...","[{'id': 596, 'name': 'adultery'}, {'id': 1442,..."
How To Make An American Quilt,11861,23574130,10000000,6.5,38.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...","[{'id': 1334, 'name': 'wedding vows'}, {'id': ..."
Se7en,807,327311859,33000000,8.1,5915.0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...","[{'cast_id': 17, 'character': 'Detective David...","[{'id': 476, 'name': 'self-fulfilling prophecy..."
Pocahontas,10530,346079773,55000000,6.7,1509.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...","[{'cast_id': 1, 'character': 'Pocahontas (voic...","[{'id': 1463, 'name': 'culture clash'}, {'id':..."
The Usual Suspects,629,23341568,6000000,8.1,3334.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 19, 'character': 'Michael McManus...","[{'id': 3703, 'name': 'law'}, {'id': 5493, 'na..."
Mighty Aphrodite,11448,6700000,15000000,6.7,145.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1, 'character': 'Lenny', 'credit_...","[{'id': 549, 'name': 'prostitute'}, {'id': 239..."
Friday,10634,28215918,3500000,7.0,513.0,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'Craig Jones', 'c...","[{'id': 897, 'name': 'rap music'}, {'id': 970,..."
...,...,...,...,...,...,...,...,...
Phoenix Forgotten,443319,3600000,2800000,5.7,52.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'cast_id': 2, 'character': 'Sophie', 'credit...","[{'id': 163053, 'name': 'found footage'}]"
Lowriders,333384,2403885,916000,7.0,20.0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 4, 'character': 'Miguel', 'credit...","[{'id': 2679, 'name': 'artist'}, {'id': 5301, ..."
Heavy Traffic,30593,1500000,950000,6.6,18.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 2, 'character': 'Michael Corleone...","[{'id': 293, 'name': 'female nudity'}, {'id': ..."
Bizim Aile,220002,214600,65700,7.5,2.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","[{'cast_id': 6, 'character': 'Yaşar', 'credit_...","[{'id': 4498, 'name': 'big family'}, {'id': 10..."
Baahubali 2: The Conclusion,350312,230000000,18000000,6.7,161.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 2, 'character': 'Amarendra Baahub...","[{'id': 4152, 'name': 'kingdom'}, {'id': 23708..."
Kabhi Alvida Naa Kehna,14395,17000000,7400000,6.1,45.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Dev Saran', 'cre...","[{'id': 596, 'name': 'adultery'}, {'id': 34094..."
The Beguiled,399019,25442939,10500000,5.8,279.0,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...","[{'cast_id': 8, 'character': 'Corporal John Mc...","[{'id': 11518, 'name': 'sexual tension'}, {'id..."
Baby Driver,339403,224511319,34000000,7.2,2083.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 9, 'character': 'Baby', 'credit_i...","[{'id': 642, 'name': 'robbery'}, {'id': 2076, ..."
Rough Night,397422,45056771,20000000,5.6,336.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...","[{'cast_id': 3, 'character': 'Jess Thayer', 'c...","[{'id': 416, 'name': 'miami'}, {'id': 10123, '..."
In the Forests of Siberia,395452,1492523,3500000,7.3,34.0,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...","[{'cast_id': 1, 'character': '', 'credit_id': ...","[{'id': 18330, 'name': 'nature'}, {'id': 19074..."
Cowboys & Angels,20148,33700,2000000,5.9,10.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 2, 'character': 'Shane Butler', '...","[{'id': 10183, 'name': 'independent film'}]"
Easy on the Eyes,260522,4864560,2153912,3.9,5.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...","[{'cast_id': 13, 'character': 'Павел', 'credit...","[{'id': 3419, 'name': 'fanatic'}, {'id': 10330..."
Despicable Me 3,324852,1020063384,80000000,6.2,2002.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...","[{'cast_id': 0, 'character': 'Gru / Dru (voice...","[{'id': 190999, 'name': 'minions'}]"
Rock Dog,333667,9420546,60000000,5.8,47.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...","[{'cast_id': 3, 'character': 'Bodi (voice)', '...","[{'id': 953, 'name': 'guitar'}, {'id': 2487, '..."
Paris Can Wait,375867,6700000,5000000,6.4,25.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 4, 'character': 'Anne', 'credit_i...","[{'id': 187056, 'name': 'woman director'}]"
I Was a Teenage Werewolf,43228,2000000,82000,5.2,12.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...","[{'cast_id': 2, 'character': 'Tony Rivers', 'c...","[{'id': 1706, 'name': 'experiment'}, {'id': 10..."
War for the Planet of the Apes,281338,369907963,152000000,6.7,1675.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...","[{'cast_id': 6, 'character': 'Caesar', 'credit...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
Kidnap,293768,24527158,21000000,6.0,244.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'cast_id': 0, 'character': 'Karla McCoy', 'c...","[{'id': 456, 'name': 'mother'}, {'id': 641, 'n..."
Valerian and the City of a Thousand Planets,339964,90024292,197471676,6.7,905.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","[{'cast_id': 7, 'character': 'Valerian', 'cred...","[{'id': 1370, 'name': 'shapeshifting'}, {'id':..."
Fanaa,8453,22175908,5300000,6.7,53.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 4, 'character': 'Zooni Ali Beg', ...","[{'id': 1741, 'name': 'blindness and impaired ..."
Atomic Blonde,341013,90007945,30000000,6.1,748.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'cast_id': 0, 'character': 'Lorraine Brought...","[{'id': 220, 'name': 'berlin'}, {'id': 470, 'n..."
Dunkirk,374720,519876949,100000000,7.5,2712.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 56, 'character': 'Tommy', 'credit...","[{'id': 254, 'name': 'france'}, {'id': 966, 'n..."
Gymkata,14570,5730596,8500000,4.7,14.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 2, 'character': 'Jonathan Cabot',...","[{'id': 780, 'name': 'kung fu'}, {'id': 3436, ..."
Transformers: The Last Knight,335988,604942143,260000000,6.2,1440.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'cast_id': 2, 'character': 'Cade Yeager', 'c...","[{'id': 10466, 'name': 'knight'}, {'id': 10607..."
FC Venus,26147,2411594,2196531,5.6,10.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 4, 'character': 'Anna', 'credit_i...","[{'id': 6075, 'name': 'sport'}, {'id': 10556, ..."
The Dark Tower,353491,71000000,60000000,5.7,688.0,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...","[{'cast_id': 9, 'character': 'Roland Deschain'...","[{'id': 75, 'name': 'gunslinger'}, {'id': 818,..."
The Emoji Movie,378236,66913939,50000000,5.8,327.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","[{'cast_id': 2, 'character': 'Gene (voice)', '...","[{'id': 207468, 'name': 'app'}, {'id': 229979,..."
Wind River,395834,184770205,11000000,7.4,181.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 9, 'character': 'Cory Lambert', '...","[{'id': 570, 'name': 'rape'}, {'id': 1262, 'na..."
Sivaji: The Boss,24049,19000000,12000000,6.9,25.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'cast_id': 14, 'character': 'Sivaji Arumugam...","[{'id': 5969, 'name': 'black money'}, {'id': 1..."
All at Once,280422,3,750000,6.0,4.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 3, 'character': 'Viktor', 'credit...","[{'id': 642, 'name': 'robbery'}, {'id': 231149..."