INSTRUCTIONS

In order for the code to run, download the file in a new folder. 
Download the files from Kaggle: https://www.kaggle.com/rounakbanik/the-movies-dataset
Make sure the Kaggle files are in the same folder as this file for the csv's to import properly 
Save as a new version when any changes are made

In [2]:
#Importing pandas and display techniques

import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt

from ast import literal_eval
import ast
import nltk

In [3]:
movies_metadata = pd.read_csv("./data/movies_metadata.csv", low_memory=False)
keywords = pd.read_csv("./data/keywords.csv", low_memory=False)
cast = pd.read_csv ("./data/credits.csv", low_memory=False)

In [4]:
#Removing columns

movies_metadata = movies_metadata.drop(['adult', 'popularity','belongs_to_collection', 'imdb_id', 'runtime','homepage', 'production_companies', 'original_language','spoken_languages', 'original_title', 'overview', 'poster_path', 'production_countries', 'tagline', 'video' ], axis=1)
cast = cast.drop(['crew'], axis=1)

#Filtering out incomplete data for movies_metadata

movies_metadata = movies_metadata[movies_metadata['budget']!='0']
movies_metadata = movies_metadata[movies_metadata['vote_average']!=0]
movies_metadata = movies_metadata[movies_metadata['revenue']!=0]
movies_metadata = movies_metadata[movies_metadata['status']=='Released']

#Filtering out incomplete data for keywords

keywords = keywords[keywords['keywords']!='[]']

#Filtering out incomplete data for cast
cast = cast[cast['cast']!='[]']

#Re-establishing data types as int

movies_metadata['revenue'] = movies_metadata['revenue'].astype(int)
movies_metadata['id'] = movies_metadata['id'].astype(int)
keywords['id'] = keywords['id'].astype(int)

#Merging the 3 data frames into 1
movies_keywords = keywords.merge(movies_metadata, left_on='id', right_on='id')
movies_keywords_cast = cast.merge(movies_keywords, left_on='id', right_on='id')

# Creating new column for gender
movies_keywords_cast['gender'] = movies_keywords_cast['cast'].copy()

movies_keywords_cast = movies_keywords_cast[['title','id', 'revenue', 'budget', 'vote_average', 'vote_count', 'genres', 'cast','gender', 'keywords', 'release_date']]

# removing duplicates that appeared after merging the data frames 
movies_keywords_cast = movies_keywords_cast.drop_duplicates('id')

movies_keywords_cast.head()

,title,id,revenue,budget,vote_average,vote_count,genres,cast,gender,keywords,release_date
0,Toy Story,862,373554033,30000000,7.7,5415.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1995-10-30
1,Jumanji,8844,262797249,65000000,6.9,2413.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",1995-12-15
2,Waiting to Exhale,31357,81452156,16000000,6.1,34.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'id': 818, 'name': 'based on novel'}, {'id':...",1995-12-22
3,Heat,949,187436818,60000000,7.7,1886.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '...",1995-12-15
4,Sudden Death,9091,64350171,35000000,5.5,174.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562...",1995-12-22

In [5]:
#cleaning column formatting

movies_keywords_cast['genres'] = movies_keywords_cast['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_keywords_cast['keywords'] = movies_keywords_cast['keywords'].apply(literal_eval)
movies_keywords_cast['keywords'] = movies_keywords_cast['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_keywords_cast['cast'] = movies_keywords_cast['cast'].apply(literal_eval)
movies_keywords_cast['cast'] = movies_keywords_cast['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

#Only showing the 3 main actors of a movie
movies_keywords_cast['cast'] = movies_keywords_cast['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

movies_keywords_cast

,title,id,revenue,budget,vote_average,vote_count,genres,cast,gender,keywords,release_date
0,Toy Story,862,373554033,30000000,7.7,5415.0,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[jealousy, toy, boy, friendship, friends, riva...",1995-10-30
1,Jumanji,8844,262797249,65000000,6.9,2413.0,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[board game, disappearance, based on children'...",1995-12-15
2,Waiting to Exhale,31357,81452156,16000000,6.1,34.0,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[based on novel, interracial relationship, sin...",1995-12-22
3,Heat,949,187436818,60000000,7.7,1886.0,"[Action, Crime, Drama, Thriller]","[Al Pacino, Robert De Niro, Val Kilmer]","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[robbery, detective, bank, obsession, chase, s...",1995-12-15
4,Sudden Death,9091,64350171,35000000,5.5,174.0,"[Action, Adventure, Thriller]","[Jean-Claude Van Damme, Powers Boothe, Dorian ...","[{'cast_id': 1, 'character': 'Darren Francis T...","[terrorist, hostage, explosive, vice president]",1995-12-22
5,GoldenEye,710,352194034,58000000,6.6,1194.0,"[Adventure, Action, Thriller]","[Pierce Brosnan, Sean Bean, Izabella Scorupco]","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[cuba, falsely accused, secret identity, compu...",1995-11-16
6,The American President,9087,107879496,62000000,6.5,199.0,"[Comedy, Drama, Romance]","[Michael Douglas, Annette Bening, Michael J. Fox]","[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[white house, usa president, new love, widower...",1995-11-17
7,Nixon,10858,13681765,44000000,7.1,72.0,"[History, Drama]","[Anthony Hopkins, Joan Allen, Powers Boothe]","[{'cast_id': 1, 'character': 'Richard Nixon', ...","[usa president, presidential election, waterga...",1995-12-22
8,Cutthroat Island,1408,10017322,98000000,5.7,137.0,"[Action, Adventure]","[Geena Davis, Matthew Modine, Frank Langella]","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[exotic island, treasure, map, ship, scalp, pi...",1995-12-22
9,Casino,524,116112375,52000000,7.8,1343.0,"[Drama, Crime]","[Robert De Niro, Sharon Stone, Joe Pesci]","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[poker, drug abuse, 1970s, overdose, illegal p...",1995-11-22
10,Sense and Sensibility,4584,135000000,16500000,7.2,364.0,"[Drama, Romance]","[Kate Winslet, Emma Thompson, Hugh Grant]","[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[bowling, based on novel, servant, country lif...",1995-12-13
11,Four Rooms,5,4300000,4000000,6.5,539.0,"[Crime, Comedy]","[Tim Roth, Antonio Banderas, Jennifer Beals]","[{'cast_id': 42, 'character': 'Ted the Bellhop...","[hotel, new year's eve, witch, bet, hotel room...",1995-12-09
12,Ace Ventura: When Nature Calls,9273,212385533,30000000,6.1,1128.0,"[Crime, Comedy, Adventure]","[Jim Carrey, Ian McNeice, Simon Callow]","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[africa, indigenous, human animal relationship...",1995-11-10
13,Money Train,11517,35431113,60000000,5.4,224.0,"[Action, Comedy, Crime]","[Wesley Snipes, Woody Harrelson, Jennifer Lopez]","[{'cast_id': 1, 'character': 'John', 'credit_i...","[brother brother relationship, subway, new yor...",1995-11-21
14,Get Shorty,8012,115101622,30250000,6.4,305.0,"[Comedy, Thriller, Crime]","[John Travolta, Gene Hackman, Rene Russo]","[{'cast_id': 1, 'character': 'Chili Palmer', '...","[gambling, miami, based on novel, job, murder,...",1995-10-20
15,Assassins,9691,30303072,50000000,6.0,394.0,"[Action, Adventure, Crime, Thriller]","[Sylvester Stallone, Antonio Banderas, Juliann...","[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[competition, assassination, cia, bank, cat, m...",1995-10-06
16,Leaving Las Vegas,451,49800000,3600000,7.1,365.0,"[Drama, Romance]","[Nicolas Cage, Elisabeth Shue, Julian Sands]","[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[individual, prostitute, alcohol, casino, love...",1995-10-27
17,Now and Then,9263,27400000,12000000,6.6,91.0,"[Comedy, Drama, Family]","[Christina Ricci, Rosie O'Donnell, Thora Birch]","[{'cast_id': 9, 'character': 'Young Roberta Ma...","[1970s, female friendship, coming of age, gyne...",1995-10-20
18,The City of Lost Children,902,1738611,18000000,7.6,308.0,"[Fantasy, Science Fiction, Adventure]","[Ron Perlman, Dominique Pinon, Judith Vittet]","[{'cast_id': 24, 'character': 'One', 'credit_i...","[clone, dream, island, eye, dystopia, aging, f...",1995-05-16
19,Twelve Monkeys,63,168840000,29500000,7.4,2470.0,"[Science Fiction, Thriller, Mystery]","[Bruce Willis, Madeleine Stowe, Brad Pitt]","[{'cast_id': 41, 'character': 'James Cole', 'c...","[schizophrenia, philadelphia, cassandra syndro...",1995-12-29
20,Babe,9598,254134910,30000000,6.0,756.0,"[Fantasy, Drama, Comedy, Family]","[Christine Cavanaugh, Miriam Margolyes, Danny ...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[sheep, pig, affection, piglet, heroism, talki...",1995-07-18
21,Dead Man Walking,687,39363635,11000000,7.3,350.0,[Drama],"[Susan Sarandon, Sean Penn, Robert Prosky]","[{'cast_id': 7, 'character': 'Sister Helen Pre...","[prison, rape, socially deprived family, penal...",1995-12-29
22,Mortal Kombat,9312,122195920,18000000,5.4,452.0,"[Action, Fantasy]","[Christopher Lambert, Robin Shou, Linden Ashby]","[{'cast_id': 1, 'character': 'Lord Rayden', 'c...","[martial arts, monster, island, gore, sorcerer...",1995-08-18
23,To Die For,577,21284514,20000000,6.7,177.0,"[Fantasy, Drama, Comedy, Thriller]","[Nicole Kidman, Matt Dillon, Joaquin Phoenix]","[{'cast_id': 4, 'character': 'Suzanne Stone Ma...","[adultery, winter, obsession, television, new ...",1995-05-20
24,How To Make An American Quilt,11861,23574130,10000000,6.5,38.0,"[Drama, Romance]","[Winona Ryder, Anne Bancroft, Ellen Burstyn]","[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...","[wedding vows, marriage proposal, married coup...",1995-10-06
25,Se7en,807,327311859,33000000,8.1,5915.0,"[Crime, Mystery, Thriller]","[Brad Pitt, Morgan Freeman, Gwyneth Paltrow]","[{'cast_id': 17, 'character': 'Detective David...","[self-fulfilling prophecy, detective, s.w.a.t....",1995-09-22
26,Pocahontas,10530,346079773,55000000,6.7,1509.0,"[Adventure, Animation, Drama, Family]","[Irene Bedard, Mel Gibson, David Ogden Stiers]","[{'cast_id': 1, 'character': 'Pocahontas (voic...","[culture clash, settler, forbidden love, colon...",1995-06-14
27,The Usual Suspects,629,23341568,6000000,8.1,3334.0,"[Drama, Crime, Thriller]","[Stephen Baldwin, Gabriel Byrne, Chazz Palmint...","[{'cast_id': 19, 'character': 'Michael McManus...","[law, relatives, theft, criminal, criminal mas...",1995-07-19
28,Mighty Aphrodite,11448,6700000,15000000,6.7,145.0,"[Comedy, Romance]","[Woody Allen, Mira Sorvino, Helena Bonham Carter]","[{'cast_id': 1, 'character': 'Lenny', 'credit_...","[prostitute, adoption, adoptive father, childl...",1995-09-13
29,Friday,10634,28215918,3500000,7.0,513.0,[Comedy],"[Ice Cube, Chris Tucker, Nia Long]","[{'cast_id': 1, 'character': 'Craig Jones', 'c...","[rap music, parent child relationship, rapper,...",1995-04-26
...,...,...,...,...,...,...,...,...,...,...,...
5063,Phoenix Forgotten,443319,3600000,2800000,5.7,52.0,"[Horror, Mystery, Science Fiction]","[Florence Hartigan, Jeanine Jackson, Chelsea L...","[{'cast_id': 2, 'character': 'Sophie', 'credit...",[found footage],2017-04-21
5064,Lowriders,333384,2403885,916000,7.0,20.0,[Drama],"[Demián Bichir, Gabriel Chavarria, Theo Rossi]","[{'cast_id': 4, 'character': 'Miguel', 'credit...","[artist, brother, street artist, east los ange...",2017-04-28
5065,Heavy Traffic,30593,1500000,950000,6.6,18.0,"[Animation, Comedy, Drama]","[Joseph Kaufmann, Frank De Kova, Terry Haven]","[{'cast_id': 2, 'character': 'Michael Corleone...","[female nudity, sex, sexual frustration, virgi...",1973-08-08
5066,Bizim Aile,220002,214600,65700,7.5,2.0,"[Comedy, Family, Drama]","[Münir Özkul, Adile Naşit, Tarık Akan]","[{'cast_id': 6, 'character': 'Yaşar', 'credit_...","[big family, family relationships]",1975-09-07
5067,Baahubali 2: The Conclusion,350312,230000000,18000000,6.7,161.0,"[Action, Adventure, History, War]","[Prabhas, Rana Daggubati, Sathyaraj]","[{'cast_id': 2, 'character': 'Amarendra Baahub...","[kingdom, bilingual]",2017-04-27
5068,Kabhi Alvida Naa Kehna,14395,17000000,7400000,6.1,45.0,"[Drama, Romance]","[Shah Rukh Khan, Rani Mukerji, Preity Zinta]","[{'cast_id': 1, 'character': 'Dev Saran', 'cre...","[adultery, extramarital affair]",2006-08-11
5069,The Beguiled,399019,25442939,10500000,5.8,279.0,"[Drama, Western]","[Colin Farrell, Nicole Kidman, Kirsten Dunst]","[{'cast_id': 8, 'character': 'Corporal John Mc...","[sexual tension, period drama, union soldier, ...",2017-06-23
5070,Baby Driver,339403,224511319,34000000,7.2,2083.0,"[Action, Crime]","[Ansel Elgort, Lily James, Kevin Spacey]","[{'cast_id': 9, 'character': 'Baby', 'credit_i...","[robbery, atlanta, music, crime boss, romance,...",2017-06-28
5071,Rough Night,397422,45056771,20000000,5.6,336.0,"[Drama, Comedy]","[Scarlett Johansson, Jillian Bell, Kate McKinnon]","[{'cast_id': 3, 'character': 'Jess Thayer', 'c...","[miami, dark comedy, male stripper, bacheloret...",2017-06-15
5072,In the Forests of Siberia,395452,1492523,3500000,7.3,34.0,"[Drama, Adventure]","[Raphaël Personnaz, Evgeniy Sidikhin]","[{'cast_id': 1, 'character': '', 'credit_id': ...","[nature, solitude, human nature]",2016-06-15
5073,Cowboys & Angels,20148,33700,2000000,5.9,10.0,"[Comedy, Drama, Foreign]","[Michael Legge, Allen Leech, Amy Shiels]","[{'cast_id': 2, 'character': 'Shane Butler', '...",[independent film],2003-05-14
5074,Easy on the Eyes,260522,4864560,2153912,3.9,5.0,"[Comedy, Science Fiction]","[Garik Kharlamov, Kristina Asmus, Yekaterina V...","[{'cast_id': 13, 'character': 'Павел', 'credit...","[fanatic, run for the money, teen comedy]",2014-02-27
5075,Despicable Me 3,324852,1020063384,80000000,6.2,2002.0,"[Action, Animation, Adventure, Family, Comedy]","[Steve Carell, Kristen Wiig, Trey Parker]","[{'cast_id': 0, 'character': 'Gru / Dru (voice...",[minions],2017-06-15
5076,Rock Dog,333667,9420546,60000000,5.8,47.0,"[Adventure, Animation, Comedy, Family, Music]","[Luke Wilson, J.K. Simmons, Eddie Izzard]","[{'cast_id': 3, 'character': 'Bodi (voice)', '...","[guitar, naivety, musician, rock, village, ani...",2016-07-08
5077,Paris Can Wait,375867,6700000,5000000,6.4,25.0,"[Drama, Romance]","[Diane Lane, Arnaud Viard, Alec Baldwin]","[{'cast_id': 4, 'character': 'Anne', 'credit_i...",[woman director],2016-09-12
5078,I Was a Teenage Werewolf,43228,2000000,82000,5.2,12.0,"[Drama, Fantasy, Horror, Science Fiction]","[Michael Landon, Yvonne Fedderson, Whit Bissell]","[{'cast_id': 2, 'character': 'Tony Rivers', 'c...","[experiment, mad doctor, psychologist, werewol...",1957-06-19
5079,War for the Planet of the Apes,281338,369907963,152000000,6.7,1675.0,"[Drama, Science Fiction, War]","[Andy Serkis, Woody Harrelson, Steve Zahn]","[{'cast_id': 6, 'character': 'Caesar', 'credit...","[based on novel, sequel, talking animal, ape]",2017-07-11
5080,Kidnap,293768,24527158,21000000,6.0,244.0,"[Drama, Thriller]","[Halle Berry, Sage Correa, Chris McGinn]","[{'cast_id': 0, 'character': 'Karla McCoy', 'c...","[mother, single parent, waitress, kidnapping, ...",2017-08-04
5081,Valerian and the City of a Thousand Planets,339964,90024292,197471676,6.7,905.0,"[Adventure, Science Fiction, Action]","[Dane DeHaan, Cara Delevingne, Clive Owen]","[{'cast_id': 7, 'character': 'Valerian', 'cred...","[shapeshifting, future, utopia, space travel, ...",2017-07-20
5082,Fanaa,8453,22175908,5300000,6.7,53.0,"[Action, Drama, Romance, Thriller]","[Kajol, Aamir Khan, Rishi Kapoor]","[{'cast_id': 4, 'character': 'Zooni Ali Beg', ...","[blindness and impaired vision, new delhi indi...",2006-05-26
5083,Atomic Blonde,341013,90007945,30000000,6.1,748.0,"[Action, Thriller]","[Charlize Theron, James McAvoy, Sofia Boutella]","[{'cast_id': 0, 'character': 'Lorraine Brought...","[berlin, spy, undercover, cold war, double age...",2017-07-26
5084,Dunkirk,374720,519876949,100000000,7.5,2712.0,"[Action, Drama, History, Thriller, War]","[Fionn Whitehead, Tom Glynn-Carney, Jack Lowden]","[{'cast_id': 56, 'character': 'Tommy', 'credit...","[france, beach, world war ii, evacuation, germ...",2017-07-19
5085,Gymkata,14570,5730596,8500000,4.7,14.0,"[Action, Drama]","[Kurt Thomas, Tetchie Agbayani, Richard Norton]","[{'cast_id': 2, 'character': 'Jonathan Cabot',...","[kung fu, karate, asian, gymnast]",1985-05-03
5086,Transformers: The Last Knight,335988,604942143,260000000,6.2,1440.0,"[Action, Science Fiction, Thriller, Adventure]","[Mark Wahlberg, Josh Duhamel, Laura Haddock]","[{'cast_id': 2, 'character': 'Cade Yeager', 'c...","[knight, transformers]",2017-06-21
5087,FC Venus,26147,2411594,2196531,5.6,10.0,"[Comedy, Romance]","[Minna Haapkylä, Petteri Summanen, Laura Malmi...","[{'cast_id': 4, 'character': 'Anna', 'credit_i...","[sport, male female relationship, soccer]",2005-12-30
5088,The Dark Tower,353491,71000000,60000000,5.7,688.0,"[Action, Western, Science Fiction, Fantasy, Ho...","[Idris Elba, Matthew McConaughey, Tom Taylor]","[{'cast_id': 9, 'character': 'Roland Deschain'...","[gunslinger, based on novel]",2017-08-03
5089,The Emoji Movie,378236,66913939,50000000,5.8,327.0,"[Comedy, Family, Animation]","[T.J. Miller, James Corden, Anna Faris]","[{'cast_id': 2, 'character': 'Gene (voice)', '...","[app, emoji, smartphone]",2017-07-28
5090,Wind River,395834,184770205,11000000,7.4,181.0,"[Action, Crime, Mystery, Thriller]","[Jeremy Renner, Elizabeth Olsen, Gil Birmingham]","[{'cast_id': 9, 'character': 'Cory Lambert', '...","[rape, mountain, gun, investigation, murder, n...",2017-08-03
5091,Sivaji: The Boss,24049,19000000,12000000,6.9,25.0,"[Action, Comedy, Drama]","[Rajinikanth, Suman, Shriya Saran]","[{'cast_id': 14, 'character': 'Sivaji Arumugam...","[black money, corrupt politician, education sy...",2007-06-14
5092,All at Once,280422,3,750000,6.0,4.0,"[Crime, Comedy]","[Andrey Muravyov, Yuliya Khlynina, Anton Shurt...","[{'cast_id': 3, 'character': 'Viktor', 'credit...","[robbery, mob]",2014-06-05

In [6]:
#Only showing gender as a numerical value 2=male 1=female 0=undefined
movies_keywords_cast['gender'] = movies_keywords_cast['gender'].apply(literal_eval)
movies_keywords_cast['gender'] = movies_keywords_cast['gender'].apply(lambda x: [i['gender'] for i in x] if isinstance(x, list) else [])
movies_keywords_cast['gender'] = movies_keywords_cast['gender'].apply(lambda x: x[:21] if len(x) >=21 else x)

movies_keywords_cast

,title,id,revenue,budget,vote_average,vote_count,genres,cast,gender,keywords,release_date
0,Toy Story,862,373554033,30000000,7.7,5415.0,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[jealousy, toy, boy, friendship, friends, riva...",1995-10-30
1,Jumanji,8844,262797249,65000000,6.9,2413.0,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[board game, disappearance, based on children'...",1995-12-15
2,Waiting to Exhale,31357,81452156,16000000,6.1,34.0,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","[based on novel, interracial relationship, sin...",1995-12-22
3,Heat,949,187436818,60000000,7.7,1886.0,"[Action, Crime, Drama, Thriller]","[Al Pacino, Robert De Niro, Val Kilmer]","[2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2, ...","[robbery, detective, bank, obsession, chase, s...",1995-12-15
4,Sudden Death,9091,64350171,35000000,5.5,174.0,"[Action, Adventure, Thriller]","[Jean-Claude Van Damme, Powers Boothe, Dorian ...","[2, 2, 2, 2, 2, 1]","[terrorist, hostage, explosive, vice president]",1995-12-22
5,GoldenEye,710,352194034,58000000,6.6,1194.0,"[Adventure, Action, Thriller]","[Pierce Brosnan, Sean Bean, Izabella Scorupco]","[2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, ...","[cuba, falsely accused, secret identity, compu...",1995-11-16
6,The American President,9087,107879496,62000000,6.5,199.0,"[Comedy, Drama, Romance]","[Michael Douglas, Annette Bening, Michael J. Fox]","[2, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, ...","[white house, usa president, new love, widower...",1995-11-17
7,Nixon,10858,13681765,44000000,7.1,72.0,"[History, Drama]","[Anthony Hopkins, Joan Allen, Powers Boothe]","[2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, ...","[usa president, presidential election, waterga...",1995-12-22
8,Cutthroat Island,1408,10017322,98000000,5.7,137.0,"[Action, Adventure]","[Geena Davis, Matthew Modine, Frank Langella]","[1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 2, ...","[exotic island, treasure, map, ship, scalp, pi...",1995-12-22
9,Casino,524,116112375,52000000,7.8,1343.0,"[Drama, Crime]","[Robert De Niro, Sharon Stone, Joe Pesci]","[2, 1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, ...","[poker, drug abuse, 1970s, overdose, illegal p...",1995-11-22
10,Sense and Sensibility,4584,135000000,16500000,7.2,364.0,"[Drama, Romance]","[Kate Winslet, Emma Thompson, Hugh Grant]","[1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 1, 1, 0, ...","[bowling, based on novel, servant, country lif...",1995-12-13
11,Four Rooms,5,4300000,4000000,6.5,539.0,"[Crime, Comedy]","[Tim Roth, Antonio Banderas, Jennifer Beals]","[2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, ...","[hotel, new year's eve, witch, bet, hotel room...",1995-12-09
12,Ace Ventura: When Nature Calls,9273,212385533,30000000,6.1,1128.0,"[Crime, Comedy, Adventure]","[Jim Carrey, Ian McNeice, Simon Callow]","[2, 2, 2, 2, 2, 1, 2, 2, 0, 0, 2, 2, 2, 0, 0]","[africa, indigenous, human animal relationship...",1995-11-10
13,Money Train,11517,35431113,60000000,5.4,224.0,"[Action, Comedy, Crime]","[Wesley Snipes, Woody Harrelson, Jennifer Lopez]","[2, 2, 1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 2]","[brother brother relationship, subway, new yor...",1995-11-21
14,Get Shorty,8012,115101622,30250000,6.4,305.0,"[Comedy, Thriller, Crime]","[John Travolta, Gene Hackman, Rene Russo]","[2, 2, 1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 0]","[gambling, miami, based on novel, job, murder,...",1995-10-20
15,Assassins,9691,30303072,50000000,6.0,394.0,"[Action, Adventure, Crime, Thriller]","[Sylvester Stallone, Antonio Banderas, Juliann...","[2, 2, 1, 0, 2, 2, 1, 2, 2, 0, 0, 2, 0, 0, 0, ...","[competition, assassination, cia, bank, cat, m...",1995-10-06
16,Leaving Las Vegas,451,49800000,3600000,7.1,365.0,"[Drama, Romance]","[Nicolas Cage, Elisabeth Shue, Julian Sands]","[2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2]","[individual, prostitute, alcohol, casino, love...",1995-10-27
17,Now and Then,9263,27400000,12000000,6.6,91.0,"[Comedy, Drama, Family]","[Christina Ricci, Rosie O'Donnell, Thora Birch]","[1, 0, 1, 1, 1, 1, 0, 1, 2, 2, 1, 1, 2, 1, 1, 2]","[1970s, female friendship, coming of age, gyne...",1995-10-20
18,The City of Lost Children,902,1738611,18000000,7.6,308.0,"[Fantasy, Science Fiction, Adventure]","[Ron Perlman, Dominique Pinon, Judith Vittet]","[2, 2, 0, 2, 2, 1, 1, 0, 2, 2, 2, 0, 2, 0, 1, ...","[clone, dream, island, eye, dystopia, aging, f...",1995-05-16
19,Twelve Monkeys,63,168840000,29500000,7.4,2470.0,"[Science Fiction, Thriller, Mystery]","[Bruce Willis, Madeleine Stowe, Brad Pitt]","[2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 1, 0, ...","[schizophrenia, philadelphia, cassandra syndro...",1995-12-29
20,Babe,9598,254134910,30000000,6.0,756.0,"[Fantasy, Drama, Comedy, Family]","[Christine Cavanaugh, Miriam Margolyes, Danny ...","[1, 1, 2, 2, 1, 2, 1, 0, 0, 0, 2, 2, 1, 0, 2, ...","[sheep, pig, affection, piglet, heroism, talki...",1995-07-18
21,Dead Man Walking,687,39363635,11000000,7.3,350.0,[Drama],"[Susan Sarandon, Sean Penn, Robert Prosky]","[1, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 0, ...","[prison, rape, socially deprived family, penal...",1995-12-29
22,Mortal Kombat,9312,122195920,18000000,5.4,452.0,"[Action, Fantasy]","[Christopher Lambert, Robin Shou, Linden Ashby]","[2, 0, 2, 2, 0, 1, 2, 2, 0, 2, 0]","[martial arts, monster, island, gore, sorcerer...",1995-08-18
23,To Die For,577,21284514,20000000,6.7,177.0,"[Fantasy, Drama, Comedy, Thriller]","[Nicole Kidman, Matt Dillon, Joaquin Phoenix]","[1, 2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 0, 0]","[adultery, winter, obsession, television, new ...",1995-05-20
24,How To Make An American Quilt,11861,23574130,10000000,6.5,38.0,"[Drama, Romance]","[Winona Ryder, Anne Bancroft, Ellen Burstyn]","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, ...","[wedding vows, marriage proposal, married coup...",1995-10-06
25,Se7en,807,327311859,33000000,8.1,5915.0,"[Crime, Mystery, Thriller]","[Brad Pitt, Morgan Freeman, Gwyneth Paltrow]","[2, 2, 1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, ...","[self-fulfilling prophecy, detective, s.w.a.t....",1995-09-22
26,Pocahontas,10530,346079773,55000000,6.7,1509.0,"[Adventure, Animation, Drama, Family]","[Irene Bedard, Mel Gibson, David Ogden Stiers]","[1, 2, 2, 2, 2, 2, 1, 1, 2, 0, 2, 2, 0, 2, 2, 2]","[culture clash, settler, forbidden love, colon...",1995-06-14
27,The Usual Suspects,629,23341568,6000000,8.1,3334.0,"[Drama, Crime, Thriller]","[Stephen Baldwin, Gabriel Byrne, Chazz Palmint...","[2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 0, 1, 2, 2, ...","[law, relatives, theft, criminal, criminal mas...",1995-07-19
28,Mighty Aphrodite,11448,6700000,15000000,6.7,145.0,"[Comedy, Romance]","[Woody Allen, Mira Sorvino, Helena Bonham Carter]","[2, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 0]","[prostitute, adoption, adoptive father, childl...",1995-09-13
29,Friday,10634,28215918,3500000,7.0,513.0,[Comedy],"[Ice Cube, Chris Tucker, Nia Long]","[2, 2, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, ...","[rap music, parent child relationship, rapper,...",1995-04-26
...,...,...,...,...,...,...,...,...,...,...,...
5063,Phoenix Forgotten,443319,3600000,2800000,5.7,52.0,"[Horror, Mystery, Science Fiction]","[Florence Hartigan, Jeanine Jackson, Chelsea L...","[0, 1, 1, 0, 0, 0, 2, 0, 0, 0]",[found footage],2017-04-21
5064,Lowriders,333384,2403885,916000,7.0,20.0,[Drama],"[Demián Bichir, Gabriel Chavarria, Theo Rossi]","[2, 0, 2, 1, 1, 2, 0, 2, 0, 0]","[artist, brother, street artist, east los ange...",2017-04-28
5065,Heavy Traffic,30593,1500000,950000,6.6,18.0,"[Animation, Comedy, Drama]","[Joseph Kaufmann, Frank De Kova, Terry Haven]","[2, 2, 0, 0, 0, 1, 0, 2, 1]","[female nudity, sex, sexual frustration, virgi...",1973-08-08
5066,Bizim Aile,220002,214600,65700,7.5,2.0,"[Comedy, Family, Drama]","[Münir Özkul, Adile Naşit, Tarık Akan]","[2, 0, 2, 0, 2, 0, 1, 0, 2, 0]","[big family, family relationships]",1975-09-07
5067,Baahubali 2: The Conclusion,350312,230000000,18000000,6.7,161.0,"[Action, Adventure, History, War]","[Prabhas, Rana Daggubati, Sathyaraj]","[2, 2, 2, 1, 2, 1, 0, 1, 2, 1]","[kingdom, bilingual]",2017-04-27
5068,Kabhi Alvida Naa Kehna,14395,17000000,7400000,6.1,45.0,"[Drama, Romance]","[Shah Rukh Khan, Rani Mukerji, Preity Zinta]","[2, 1, 1, 0, 2, 2, 1, 0, 1, 2, 2]","[adultery, extramarital affair]",2006-08-11
5069,The Beguiled,399019,25442939,10500000,5.8,279.0,"[Drama, Western]","[Colin Farrell, Nicole Kidman, Kirsten Dunst]","[2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]","[sexual tension, period drama, union soldier, ...",2017-06-23
5070,Baby Driver,339403,224511319,34000000,7.2,2083.0,"[Action, Crime]","[Ansel Elgort, Lily James, Kevin Spacey]","[2, 1, 2, 2, 2, 1, 0, 2, 2, 0, 2, 0, 1, 2, 0, ...","[robbery, atlanta, music, crime boss, romance,...",2017-06-28
5071,Rough Night,397422,45056771,20000000,5.6,336.0,"[Drama, Comedy]","[Scarlett Johansson, Jillian Bell, Kate McKinnon]","[1, 1, 1, 1, 1, 0, 2, 1, 2, 2, 2, 2, 2, 2, 0, ...","[miami, dark comedy, male stripper, bacheloret...",2017-06-15
5072,In the Forests of Siberia,395452,1492523,3500000,7.3,34.0,"[Drama, Adventure]","[Raphaël Personnaz, Evgeniy Sidikhin]","[0, 2]","[nature, solitude, human nature]",2016-06-15
5073,Cowboys & Angels,20148,33700,2000000,5.9,10.0,"[Comedy, Drama, Foreign]","[Michael Legge, Allen Leech, Amy Shiels]","[2, 2, 1]",[independent film],2003-05-14
5074,Easy on the Eyes,260522,4864560,2153912,3.9,5.0,"[Comedy, Science Fiction]","[Garik Kharlamov, Kristina Asmus, Yekaterina V...","[0, 1, 1, 0, 0, 2]","[fanatic, run for the money, teen comedy]",2014-02-27
5075,Despicable Me 3,324852,1020063384,80000000,6.2,2002.0,"[Action, Animation, Adventure, Family, Comedy]","[Steve Carell, Kristen Wiig, Trey Parker]","[2, 1, 2, 1, 1, 0, 2, 1, 1, 2, 0, 2, 2, 1, 0, ...",[minions],2017-06-15
5076,Rock Dog,333667,9420546,60000000,5.8,47.0,"[Adventure, Animation, Comedy, Family, Music]","[Luke Wilson, J.K. Simmons, Eddie Izzard]","[2, 2, 2, 2, 2, 2, 1, 2, 2, 2]","[guitar, naivety, musician, rock, village, ani...",2016-07-08
5077,Paris Can Wait,375867,6700000,5000000,6.4,25.0,"[Drama, Romance]","[Diane Lane, Arnaud Viard, Alec Baldwin]","[1, 2, 2, 0, 0]",[woman director],2016-09-12
5078,I Was a Teenage Werewolf,43228,2000000,82000,5.2,12.0,"[Drama, Fantasy, Horror, Science Fiction]","[Michael Landon, Yvonne Fedderson, Whit Bissell]","[2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 1]","[experiment, mad doctor, psychologist, werewol...",1957-06-19
5079,War for the Planet of the Apes,281338,369907963,152000000,6.7,1675.0,"[Drama, Science Fiction, War]","[Andy Serkis, Woody Harrelson, Steve Zahn]","[2, 2, 2, 1, 0, 2, 2, 2, 1, 1, 2, 0, 2, 1, 0, ...","[based on novel, sequel, talking animal, ape]",2017-07-11
5080,Kidnap,293768,24527158,21000000,6.0,244.0,"[Drama, Thriller]","[Halle Berry, Sage Correa, Chris McGinn]","[1, 0, 0, 2, 2, 2, 2, 0, 1, 0, 1, 2, 0, 2, 1, ...","[mother, single parent, waitress, kidnapping, ...",2017-08-04
5081,Valerian and the City of a Thousand Planets,339964,90024292,197471676,6.7,905.0,"[Adventure, Science Fiction, Action]","[Dane DeHaan, Cara Delevingne, Clive Owen]","[2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2, ...","[shapeshifting, future, utopia, space travel, ...",2017-07-20
5082,Fanaa,8453,22175908,5300000,6.7,53.0,"[Action, Drama, Romance, Thriller]","[Kajol, Aamir Khan, Rishi Kapoor]","[1, 2, 2, 1, 2, 1, 1, 2, 1, 0, 2, 2, 0, 2, 0, 2]","[blindness and impaired vision, new delhi indi...",2006-05-26
5083,Atomic Blonde,341013,90007945,30000000,6.1,748.0,"[Action, Thriller]","[Charlize Theron, James McAvoy, Sofia Boutella]","[1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, ...","[berlin, spy, undercover, cold war, double age...",2017-07-26
5084,Dunkirk,374720,519876949,100000000,7.5,2712.0,"[Action, Drama, History, Thriller, War]","[Fionn Whitehead, Tom Glynn-Carney, Jack Lowden]","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, ...","[france, beach, world war ii, evacuation, germ...",2017-07-19
5085,Gymkata,14570,5730596,8500000,4.7,14.0,"[Action, Drama]","[Kurt Thomas, Tetchie Agbayani, Richard Norton]","[2, 1, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0]","[kung fu, karate, asian, gymnast]",1985-05-03
5086,Transformers: The Last Knight,335988,604942143,260000000,6.2,1440.0,"[Action, Science Fiction, Thriller, Adventure]","[Mark Wahlberg, Josh Duhamel, Laura Haddock]","[2, 2, 0, 2, 2, 1, 2, 2, 2, 0, 0, 2, 2, 2, 1, ...","[knight, transformers]",2017-06-21
5087,FC Venus,26147,2411594,2196531,5.6,10.0,"[Comedy, Romance]","[Minna Haapkylä, Petteri Summanen, Laura Malmi...","[0, 2, 1, 2, 0, 0]","[sport, male female relationship, soccer]",2005-12-30
5088,The Dark Tower,353491,71000000,60000000,5.7,688.0,"[Action, Western, Science Fiction, Fantasy, Ho...","[Idris Elba, Matthew McConaughey, Tom Taylor]","[2, 2, 0, 1, 2, 1, 2, 1, 2, 0, 2, 0, 2, 0, 2, ...","[gunslinger, based on novel]",2017-08-03
5089,The Emoji Movie,378236,66913939,50000000,5.8,327.0,"[Comedy, Family, Animation]","[T.J. Miller, James Corden, Anna Faris]","[2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 2, 2, 0, 0, 0, ...","[app, emoji, smartphone]",2017-07-28
5090,Wind River,395834,184770205,11000000,7.4,181.0,"[Action, Crime, Mystery, Thriller]","[Jeremy Renner, Elizabeth Olsen, Gil Birmingham]","[2, 1, 2, 1, 2, 2, 1, 2, 0, 0, 2, 2, 2, 2, 2, ...","[rape, mountain, gun, investigation, murder, n...",2017-08-03
5091,Sivaji: The Boss,24049,19000000,12000000,6.9,25.0,"[Action, Comedy, Drama]","[Rajinikanth, Suman, Shriya Saran]","[2, 0, 1, 0, 2, 2, 2, 0, 1, 0, 0, 0, 2, 0, 0, ...","[black money, corrupt politician, education sy...",2007-06-14
5092,All at Once,280422,3,750000,6.0,4.0,"[Crime, Comedy]","[Andrey Muravyov, Yuliya Khlynina, Anton Shurt...","[0, 1, 2, 0, 0, 0, 0, 0, 0, 0]","[robbery, mob]",2014-06-05

In [12]:
number_of_males = []
number_of_females = []
number_of_unknown = []
number_of_cast = []
 
#Creating a for loop to go through each cell in the gender column, counting the number of males and females in the cast
for row in movies_keywords_cast['gender']:
    number_of_males.append(row.count(2))
    number_of_females.append(row.count(1))
    number_of_unknown.append(row.count(0))
    number_of_cast.append(len(row))
    
#creating new columns 
movies_keywords_cast['number_of_males'] = number_of_males
movies_keywords_cast['number_of_females'] = number_of_females
movies_keywords_cast['number_of_unknown'] = number_of_unknown
movies_keywords_cast['number_of_cast'] = number_of_cast

#calculating a weighted rating for each film to balance out the big differences in number of votes
vote_counts = movies_keywords_cast[movies_keywords_cast['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = movies_keywords_cast[movies_keywords_cast['vote_average'].notnull()]['vote_average'].astype('int')

C = vote_averages.mean()
m = vote_counts.quantile(0.75)

#formula for weighted rating 

def weighted_rating(x):
    v = x['vote_count']+1 
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

#adding the weighted_rating column
movies_keywords_cast['weighted_rating'] = movies_keywords_cast.apply(weighted_rating, axis=1)

movies_keywords_cast = movies_keywords_cast[['title','id', 'revenue', 'budget', 'vote_average', 'vote_count', 'weighted_rating', 'genres', 'cast','gender', 'keywords', 'release_date','number_of_males', 'number_of_females', 'number_of_unknown', 'number_of_cast' ]]

#exporting the data as csv file for the visualisation and analysis part
movies_keywords_cast.to_csv('movies_keywords_cast.csv')

In [13]:
#calculating the male to female ratio for each film, but only if there are no undefined actors 
pd.options.mode.chained_assignment = None
movies_no_unknown = movies_keywords_cast[movies_keywords_cast['number_of_unknown']==0]

#Creating new columns to store the percentage male cast / percentage female cast of each film
movies_no_unknown['percentage male'] = movies_no_unknown['number_of_males'] / movies_no_unknown['number_of_cast']

movies_no_unknown['percentage female'] = movies_no_unknown['number_of_females'] / movies_no_unknown['number_of_cast']

#Removing unnecessary columns from the DataFrame
movies_no_unknown = movies_no_unknown.drop(['id', 'vote_average', 'vote_count', 'genres', 'cast', 'number_of_unknown', 'number_of_males', 'number_of_females', 'number_of_cast'], axis=1)

movies_no_unknown = movies_no_unknown[['title', 'revenue', 'budget', 'weighted_rating', 'percentage male', 'percentage female', 'keywords', 'release_date']]

#Setting the index of the DataFrame to be 'title'
movies_no_unknown.set_index('title')

#exporting data for analysis on the impact of gender
movies_no_unknown.to_csv('movies_gender.csv')

In [ ]:
#min 10 movies, 20-30 actors, average revenue of their films,

In [15]:
#creating files with 1 or 2 genres for different analyses 

movies_one_genre = movies_keywords_cast

movies_two_genres = movies_keywords_cast

#removing all genres other than the first one in the one_genre DataFrame
movies_one_genre['genres'] = movies_one_genre['genres'].apply(lambda x: x[:1] if len(x) >=1 else x)

#removing all genres other than the first 2 in the two_genres DataFrame
movies_two_genres['genres'] = movies_two_genres['genres'].apply(lambda x: x[:2] if len(x) >=2 else x)

#Dropping unnecessary columns
movies_one_genre = movies_one_genre.drop(['id', 'vote_average', 'vote_count', 'cast', 'gender', 'number_of_males', 'number_of_females', 'number_of_cast', 'number_of_unknown'], axis=1)

movies_two_genres = movies_two_genres.drop(['id', 'vote_average', 'vote_count', 'cast', 'gender', 'number_of_males', 'number_of_females', 'number_of_cast', 'number_of_unknown'], axis=1)

movies_one_genre.to_csv('movies_one_genre.csv')

movies_two_genres.to_csv('movies_two_genres.csv')

movies_one_genre

,title,revenue,budget,weighted_rating,genres,keywords,release_date
0,Toy Story,373554033,30000000,7.447008,[Animation],"[jealousy, toy, boy, friendship, friends, riva...",1995-10-30
1,Jumanji,262797249,65000000,6.626929,[Adventure],"[board game, disappearance, based on children'...",1995-12-15
2,Waiting to Exhale,81452156,16000000,5.875670,[Comedy],"[based on novel, interracial relationship, sin...",1995-12-22
3,Heat,187436818,60000000,7.122823,[Action],"[robbery, detective, bank, obsession, chase, s...",1995-12-15
4,Sudden Death,64350171,35000000,5.805042,[Action],"[terrorist, hostage, explosive, vice president]",1995-12-22
5,GoldenEye,352194034,58000000,6.291636,[Adventure],"[cuba, falsely accused, secret identity, compu...",1995-11-16
6,The American President,107879496,62000000,5.985336,[Comedy],"[white house, usa president, new love, widower...",1995-11-17
7,Nixon,13681765,44000000,5.962398,[History],"[usa president, presidential election, waterga...",1995-12-22
8,Cutthroat Island,10017322,98000000,5.843735,[Action],"[exotic island, treasure, map, ship, scalp, pi...",1995-12-22
9,Casino,116112375,52000000,7.041861,[Drama],"[poker, drug abuse, 1970s, overdose, illegal p...",1995-11-22
10,Sense and Sensibility,135000000,16500000,6.261651,[Drama],"[bowling, based on novel, servant, country lif...",1995-12-13
11,Four Rooms,4300000,4000000,6.109704,[Crime],"[hotel, new year's eve, witch, bet, hotel room...",1995-12-09
12,Ace Ventura: When Nature Calls,212385533,30000000,5.998624,[Crime],"[africa, indigenous, human animal relationship...",1995-11-10
13,Money Train,35431113,60000000,5.770471,[Action],"[brother brother relationship, subway, new yor...",1995-11-21
14,Get Shorty,115101622,30250000,6.005758,[Comedy],"[gambling, miami, based on novel, job, murder,...",1995-10-20
15,Assassins,30303072,50000000,5.908363,[Action],"[competition, assassination, cia, bank, cat, m...",1995-10-06
16,Leaving Las Vegas,49800000,3600000,6.232728,[Drama],"[individual, prostitute, alcohol, casino, love...",1995-10-27
17,Now and Then,27400000,12000000,5.936970,[Comedy],"[1970s, female friendship, coming of age, gyne...",1995-10-20
18,The City of Lost Children,1738611,18000000,6.322070,[Fantasy],"[clone, dream, island, eye, dystopia, aging, f...",1995-05-16
19,Twelve Monkeys,168840000,29500000,7.001724,[Science Fiction],"[schizophrenia, philadelphia, cassandra syndro...",1995-12-29
20,Babe,254134910,30000000,5.928789,[Fantasy],"[sheep, pig, affection, piglet, heroism, talki...",1995-07-18
21,Dead Man Walking,39363635,11000000,6.279683,[Drama],"[prison, rape, socially deprived family, penal...",1995-12-29
22,Mortal Kombat,122195920,18000000,5.706480,[Action],"[martial arts, monster, island, gore, sorcerer...",1995-08-18
23,To Die For,21284514,20000000,6.008568,[Fantasy],"[adultery, winter, obsession, television, new ...",1995-05-20
24,How To Make An American Quilt,23574130,10000000,5.893879,[Drama],"[wedding vows, marriage proposal, married coup...",1995-10-06
25,Se7en,327311859,33000000,7.814530,[Crime],"[self-fulfilling prophecy, detective, s.w.a.t....",1995-09-22
26,Pocahontas,346079773,55000000,6.396026,[Adventure],"[culture clash, settler, forbidden love, colon...",1995-06-14
27,The Usual Suspects,23341568,6000000,7.639185,[Drama],"[law, relatives, theft, criminal, criminal mas...",1995-07-19
28,Mighty Aphrodite,6700000,15000000,5.986727,[Comedy],"[prostitute, adoption, adoptive father, childl...",1995-09-13
29,Friday,28215918,3500000,6.288453,[Comedy],"[rap music, parent child relationship, rapper,...",1995-04-26
...,...,...,...,...,...,...,...
5063,Phoenix Forgotten,3600000,2800000,5.857015,[Horror],[found footage],2017-04-21
5064,Lowriders,2403885,916000,5.893417,[Drama],"[artist, brother, street artist, east los ange...",2017-04-28
5065,Heavy Traffic,1500000,950000,5.882341,[Animation],"[female nudity, sex, sexual frustration, virgi...",1973-08-08
5066,Bizim Aile,214600,65700,5.872246,[Comedy],"[big family, family relationships]",1975-09-07
5067,Baahubali 2: The Conclusion,230000000,18000000,5.997817,[Action],"[kingdom, bilingual]",2017-04-27
5068,Kabhi Alvida Naa Kehna,17000000,7400000,5.878372,[Drama],"[adultery, extramarital affair]",2006-08-11
5069,The Beguiled,25442939,10500000,5.850352,[Drama],"[sexual tension, period drama, union soldier, ...",2017-06-23
5070,Baby Driver,224511319,34000000,6.808253,[Action],"[robbery, atlanta, music, crime boss, romance,...",2017-06-28
5071,Rough Night,45056771,20000000,5.791988,[Drama],"[miami, dark comedy, male stripper, bacheloret...",2017-06-15
5072,In the Forests of Siberia,1492523,3500000,5.922233,[Drama],"[nature, solitude, human nature]",2016-06-15
5073,Cowboys & Angels,33700,2000000,5.867032,[Comedy],[independent film],2003-05-14
5074,Easy on the Eyes,4864560,2153912,5.853097,[Comedy],"[fanatic, run for the money, teen comedy]",2014-02-27
5075,Despicable Me 3,1020063384,80000000,6.099287,[Action],[minions],2017-06-15
5076,Rock Dog,9420546,60000000,5.863119,[Adventure],"[guitar, naivety, musician, rock, village, ani...",2016-07-08
5077,Paris Can Wait,6700000,5000000,5.882143,[Drama],[woman director],2016-09-12
5078,I Was a Teenage Werewolf,2000000,82000,5.856766,[Drama],"[experiment, mad doctor, psychologist, werewol...",1957-06-19
5079,War for the Planet of the Apes,369907963,152000000,6.415869,[Drama],"[based on novel, sequel, talking animal, ape]",2017-07-11
5080,Kidnap,24527158,21000000,5.896002,[Drama],"[mother, single parent, waitress, kidnapping, ...",2017-08-04
5081,Valerian and the City of a Thousand Planets,90024292,197471676,6.292473,[Adventure],"[shapeshifting, future, utopia, space travel, ...",2017-07-20
5082,Fanaa,22175908,5300000,5.915477,[Action],"[blindness and impaired vision, new delhi indi...",2006-05-26
5083,Atomic Blonde,90007945,30000000,5.974786,[Action],"[berlin, spy, undercover, cold war, double age...",2017-07-26
5084,Dunkirk,519876949,100000000,7.104428,[Action],"[france, beach, world war ii, evacuation, germ...",2017-07-19
5085,Gymkata,5730596,8500000,5.846773,[Action],"[kung fu, karate, asian, gymnast]",1985-05-03
5086,Transformers: The Last Knight,604942143,260000000,6.074763,[Action],"[knight, transformers]",2017-06-21
5087,FC Venus,2411594,2196531,5.863273,[Comedy],"[sport, male female relationship, soccer]",2005-12-30
5088,The Dark Tower,71000000,60000000,5.792837,[Action],"[gunslinger, based on novel]",2017-08-03
5089,The Emoji Movie,66913939,50000000,5.848330,[Comedy],"[app, emoji, smartphone]",2017-07-28
5090,Wind River,184770205,11000000,6.132654,[Action],"[rape, mountain, gun, investigation, murder, n...",2017-08-03
5091,Sivaji: The Boss,19000000,12000000,5.896701,[Action],"[black money, corrupt politician, education sy...",2007-06-14
5092,All at Once,3,750000,5.867378,[Crime],"[robbery, mob]",2014-06-05

In [16]:
#Cleaning unnecessary punctuation from the genres column

movies_one_genre['genres'] = movies_one_genre['genres'].astype(str)

movies_one_genre['genres'] = movies_one_genre['genres'].str.replace(r"[\']", '')

movies_one_genre['genres'] = movies_one_genre['genres'].str.replace(r"[\[\]]", '')

#Creating new DataFrames containing all movies of each genre
action = movies_one_genre[movies_one_genre['genres'].str.contains("Action")]

adventure = movies_one_genre[movies_one_genre['genres'].str.contains("Adventure")]

animation = movies_one_genre[movies_one_genre['genres'].str.contains("Animation")]

comedy = movies_one_genre[movies_one_genre['genres'].str.contains("Comedy")]

crime = movies_one_genre[movies_one_genre['genres'].str.contains("Crime")]

documentary = movies_one_genre[movies_one_genre['genres'].str.contains("Documentary")]

drama = movies_one_genre[movies_one_genre['genres'].str.contains("Drama")]

family = movies_one_genre[movies_one_genre['genres'].str.contains("Family")]

fantasy = movies_one_genre[movies_one_genre['genres'].str.contains("Fantasy")]

history = movies_one_genre[movies_one_genre['genres'].str.contains("History")]

horror = movies_one_genre[movies_one_genre['genres'].str.contains("Horror")]

music = movies_one_genre[movies_one_genre['genres'].str.contains("Music")]

mystery = movies_one_genre[movies_one_genre['genres'].str.contains("Mystery")]

romance = movies_one_genre[movies_one_genre['genres'].str.contains("Romance")]

science_fiction = movies_one_genre[movies_one_genre['genres'].str.contains("Science Fiction")]

thriller = movies_one_genre[movies_one_genre['genres'].str.contains("Thriller")]

war = movies_one_genre[movies_one_genre['genres'].str.contains("War")]

western = movies_one_genre[movies_one_genre['genres'].str.contains("Western")]

In [17]:
#Creating a new DataFrame to store the revenue and amount of films of reach genre

genres = [action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music, mystery, romance, science_fiction, thriller, war, western] 

genre_names = ['action', 'adventure', 'animation', 'comedy', 'crime', 'documentary', 'drama', 'family', 'fantasy', 'history', 'horror', 'music', 'mystery', 'romance', 'science fiction', 'thriller', 'war', 'western']

#Creating new variables to store the average_revenue and amount of films
average_revenue = []

popularity = []

#A for loop going through each DataFrame and calculating the average revenue for each genre
#Sums up the numbers in the revenue column and divides it by the amount of films in the genre
for x in genres:
    average_revenue.append([x['revenue'].sum() / len(x.index)])

#A for loop storing the amount of films in each genre
for x in genres:
    popularity.append(len(x.index))

#Creating a new DataFrame with the columns genre, average_revenue and popularity
genres_revenue = pd.DataFrame(columns=['genre', 'average_revenue', 'popularity'])

#Initialising the genres with the data stored in the average_revenue and popularity variables
genres_revenue['genre'] = genre_names
genres_revenue['average_revenue'] = average_revenue
genres_revenue['popularity'] = popularity

#Removing the brackets from the values in the average_revenue column
genres_revenue['average_revenue'] = genres_revenue['average_revenue'].str.get(0)

genres_revenue.to_csv('genres_revenue.csv')

genres_revenue

              genre  average_revenue  popularity
0            action     1.293228e+08         909
1         adventure     2.040700e+08         401
2         animation     2.524171e+08         139
3            comedy     6.672517e+07         980
4             crime     4.943521e+07         263
5       documentary     1.784839e+07          40
6             drama     5.539886e+07        1206
7            family     2.517906e+08          52
8           fantasy     1.363942e+08         134
9           history     7.263136e+07          27
10           horror     5.234471e+07         315
11            music     5.036644e+07          31
12          mystery     5.916535e+07          63
13          romance     7.865640e+07         106
14  science fiction     1.705247e+08         101
15         thriller     7.892866e+07         188
16              war     6.101122e+07          32
17          western     4.576036e+07          30

In [21]:
#exporting csv of movies with their budget, revenue and weighted rating 
movies_revenue_ratings = movies_keywords_cast.drop(['id', 'vote_average', 'vote_count', 'genres', 'cast', 'keywords', 'gender', 'release_date', 'number_of_males', 'number_of_females', 'number_of_unknown', 'number_of_cast'], axis=1)
movies_revenue_ratings.to_csv('movies_revenue_ratings.csv')

In [22]:
#exporting same data frame as above but with cast added 
actors = movies_keywords_cast.drop(['id', 'vote_average', 'vote_count', 'genres', 'gender', 'keywords', 'release_date'], axis=1)
actors = actors.drop(['number_of_males', 'number_of_females', 'number_of_unknown', 'number_of_cast'], axis=1)
actors.to_csv("actors.csv")

In [23]:
#adding a column in the movies_one_genre dataframe where each genre is assigned a number to make analysis possible
movies_one_genre.head()

,title,revenue,budget,weighted_rating,genres,keywords,release_date
0,Toy Story,373554033,30000000,7.447008,Animation,"[jealousy, toy, boy, friendship, friends, riva...",1995-10-30
1,Jumanji,262797249,65000000,6.626929,Adventure,"[board game, disappearance, based on children'...",1995-12-15
2,Waiting to Exhale,81452156,16000000,5.875670,Comedy,"[based on novel, interracial relationship, sin...",1995-12-22
3,Heat,187436818,60000000,7.122823,Action,"[robbery, detective, bank, obsession, chase, s...",1995-12-15
4,Sudden Death,64350171,35000000,5.805042,Action,"[terrorist, hostage, explosive, vice president]",1995-12-22

In [25]:
#adding the new column
movies_one_genre['numerical_value_genre'] = movies_one_genre['genres'].copy()
movies_one_genre = movies_one_genre[['title', 'revenue', 'budget', 'weighted_rating', 'genres', 'keywords', 'release_date', 'numerical_value_genre']]
movies_one_genre.head()

,title,revenue,budget,weighted_rating,genres,keywords,release_date,numerical_value_genre
0,Toy Story,373554033,30000000,7.447008,Animation,"[jealousy, toy, boy, friendship, friends, riva...",1995-10-30,Animation
1,Jumanji,262797249,65000000,6.626929,Adventure,"[board game, disappearance, based on children'...",1995-12-15,Adventure
2,Waiting to Exhale,81452156,16000000,5.875670,Comedy,"[based on novel, interracial relationship, sin...",1995-12-22,Comedy
3,Heat,187436818,60000000,7.122823,Action,"[robbery, detective, bank, obsession, chase, s...",1995-12-15,Action
4,Sudden Death,64350171,35000000,5.805042,Action,"[terrorist, hostage, explosive, vice president]",1995-12-22,Action

In [28]:
movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].astype(str)


for x in movies_one_genre['numerical_value_genre']:
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Action','1')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Adventure','2')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Animation','3')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Comedy','4')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Crime','5')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Documentary','6')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Drama','7')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Family','8')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Fantasy','9')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('History','10')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Horror','11')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Music','12')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Mystery','13')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Romance','14')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Science Fiction','15')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Thriller','16')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('War','17')
    movies_one_genre['numerical_value_genre'] = movies_one_genre['numerical_value_genre'].str.replace('Western','18')

       
movies_one_genre.head()

KeyboardInterrupt:

In [ ]:
genre_as_number = movies_one_genre
genre_as_number = genre_as_number[['revenue', 'genres', 'numerical_value_genre']]
genre_as_number.head()

In [ ]:
genre_as_number.to_csv('genre_as_number.csv')