In [18]:
import pandas as pd
from scipy import stats
from scipy.stats import kendalltau
from scipy.stats import spearmanr

In [ ]:
## RATING RATING RATING

In [19]:
# calling the data on film-revenue vs. film-ratings so that it can later be plotted
rating = "./data/revenue_ratings/movies_revenue_ratings_new copy.csv"
rating1 = pd.read_csv(rating, index_col=0)

# testing the data has been called
rating1.head()

     revenue  weighted_rating
0  373554033              7.4
1  262797249              6.6
2   81452156              5.9
3  187436818              7.1
4   64350171              5.8

In [20]:
#spearman's rank
x = rating1['revenue']

x_corr = rating1['weighted_rating']
corr, p_value = spearmanr(x, x_corr)
print corr

0.2957696359098866

In [21]:
print p_value

5.869247276745268e-102

In [23]:
#kendall's tau
x1 = rating1['revenue']
x2 = rating1['weighted_rating']

tau, p_value = kendalltau(x1, x2)
print tau

0.21138147945793398

In [24]:
print p_value

8.309664923665605e-100

In [ ]:
## BUDGET BUDGET BUDGET

In [10]:
# calling the data on film-revenue vs. film-budget so that it can later be plotted
budget = "./data/budget/budget_1.csv"
budget1 = pd.read_csv(budget, index_col=0)

# testing the data has been called
budget1.head()

,title,id,revenue,budget,vote_average,vote_count,weighted_rating,genres,cast,gender,keywords,release_date,number of males,number of females,number of unknown,number of cast
0,Toy Story,862,373554033,30000000,7.7,5415,7.4,"['Animation', 'Comedy', 'Family']","['Tom Hanks', 'Tim Allen', 'Don Rickles']","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","['jealousy', 'toy', 'boy', 'friendship', 'frie...",1995-10-30,9,3,1,13
1,Jumanji,8844,262797249,65000000,6.9,2413,6.6,"['Adventure', 'Fantasy', 'Family']","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","['board game', 'disappearance', ""based on chil...",1995-12-15,8,6,7,21
2,Waiting to Exhale,31357,81452156,16000000,6.1,34,5.9,"['Comedy', 'Drama', 'Romance']","['Whitney Houston', 'Angela Bassett', 'Loretta...","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","['based on novel', 'interracial relationship',...",1995-12-22,6,4,0,10
3,Heat,949,187436818,60000000,7.7,1886,7.1,"['Action', 'Crime', 'Drama', 'Thriller']","['Al Pacino', 'Robert De Niro', 'Val Kilmer']","[2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2, ...","['robbery', 'detective', 'bank', 'obsession', ...",1995-12-15,16,5,0,21
4,Sudden Death,9091,64350171,35000000,5.5,174,5.8,"['Action', 'Adventure', 'Thriller']","['Jean-Claude Van Damme', 'Powers Boothe', 'Do...","[2, 2, 2, 2, 2, 1]","['terrorist', 'hostage', 'explosive', 'vice pr...",1995-12-22,5,1,0,6

In [11]:
#spearman's rank
x = budget1['revenue']

x_corr = budget1['budget']
corr, p_value = spearmanr(x, x_corr)
print corr

0.7066865013932638

In [12]:
print p_value

0.0

In [25]:
#kendall's tau
x1 = budget1['revenue']
x2 = budget1['budget']

tau, p_value = kendalltau(x1, x2)
print tau

0.5232777792305308

In [26]:
print p_value

0.0

In [ ]:
## GENDER GENDER GENDER

In [13]:
#calling data on film revenue and film gender-split
gender = "./data/actors_revenue/movies_gender.csv"
gender1 = pd.read_csv(gender, index_col=0)

# testing the data has been called
gender1.head()

,title,revenue,budget,weighted_rating,percentage male,percentage female,keywords,release_date
2,Waiting to Exhale,81452156,16000000,5.875670,0.6,0.4,"['based on novel', 'interracial relationship',...",1995-12-22
3,Heat,187436818,60000000,7.122823,0.8,0.2,"['robbery', 'detective', 'bank', 'obsession', ...",1995-12-15
4,Sudden Death,64350171,35000000,5.805042,0.8,0.2,"['terrorist', 'hostage', 'explosive', 'vice pr...",1995-12-22
11,Four Rooms,4300000,4000000,6.109704,0.3,0.7,"['hotel', ""new year's eve"", 'witch', 'bet', 'h...",1995-12-09
16,Leaving Las Vegas,49800000,3600000,6.232728,0.5,0.5,"['individual', 'prostitute', 'alcohol', 'casin...",1995-10-27

In [14]:
#spearman's rank (male actors)
x = gender1['revenue']

x_corr = gender1['percentage male']
corr, p_value = spearmanr(x, x_corr)
print corr

0.02151541236620176

In [15]:
print p_value

0.590761775985259

In [16]:
#spearman's rank (female actors)
x = gender1['revenue']

x_corr = gender1['percentage female']
corr, p_value = spearmanr(x, x_corr)
print corr

-0.03194890570919293

In [17]:
print p_value

0.424518271370653

In [27]:
#kendall's tau (male actors)
x1 = gender1['revenue']
x2 = gender1['percentage male']

tau, p_value = kendalltau(x1, x2)
print tau

0.015226862451317892

In [28]:
print p_value

0.5967171276093354

In [29]:
#kendall's tau (female actors)
x1 = gender1['revenue']
x2 = gender1['percentage female']

tau, p_value = kendalltau(x1, x2)
print tau

-0.02221059216202549

In [30]:
print p_value

0.44095706561910675